<div class="col-md-2 d-flex flex-column align-items-start py-3">
  <div class="brand-image text-center mb-3">
    <%= image_tag asset_path('tweetyfiy.jpeg'), alt: "Tweetyfiy Img", class: "rounded-circle", style: "width: 100px;" %>
  </div>
  <%= link_to "Home", "#", class: "btn btn-secondary text-left text-white w-100 my-1" %>
  <%= link_to  "#", class: "btn btn-secondary text-left text-white w-100 my-1 position-relative" do %>
    Notifications
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      13
      <span class="visually-hidden">unread notifications</span>
    </span>
  <% end %>
  <%= link_to "Messages", "#", class: "btn btn-secondary text-left text-white w-100 my-1" %>
  
  <%= link_to "Profile", "#", class: "btn btn-secondary text-left text-white w-100 my-1"%>
  <%= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete }, class: "btn btn-primary text-left text-white w-100 my-1 position-relative" %>
  <div class="d-flex align-items-center">
    <img src="<%= asset_path('tweetyfiy.jpg') %>" alt="Profile Picture" class="rounded-circle me-2" style="width: 35px;">
    <p>@username</p>
  </div>
  </div>
</div>
